  .homepage {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    font-family: system-ui, sans-serif;
    background-color: var(--background-color);
  }

  .homepage * {
    flex: 1;
  }

  #terminal {
    display: flex;
    align-items: flex-end;
    height: 100%;
    padding: 4rem;
    padding-bottom: 12rem;
    border-top: none;
    flex: 0.8;
  }

  app-profile {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: var(--text-size);
    text-align: end;
}

  #task-form {
  display: flex;
  flex-basis: fit-content;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  margin: 1rem;
  padding: 2rem;
  overflow-wrap: break-word;
  border: 1px solid var(--border-color);
  border-radius: var(--curve);
}

#task-form textarea {
  height: fit-content;
  max-height: 36vh;
  padding: 0;
  padding-left: 0.2rem;
  padding-right: 1rem;
  margin: 0;
  margin-left: 1rem;
  margin-left: 1rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-color);
  border: none;
  font-weight: light;
  overflow-wrap: break-word;
  font-size: var(--text-size);
  resize: none;
}

#prompt {
  display: flex;
  max-width: fit-content;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

#task-form:hover {
  cursor: pointer;
}

#task-form button {
  height: fit-content;
  flex: 0 0 auto;
  width: auto;
  margin-top: 0.6rem;
  margin-right: 0.8rem;
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-color);
  border: none;
  font-weight: bolder;
  font-size: 2rem;
}

#task-form button:hover {
  cursor: pointer;
}

#task-form span:hover {
  cursor: pointer;
}

#marker {
  padding-top: 0.1rem;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}
