.summaries {
    padding: 1rem;
    height: 100%;
    width: 100%;
    flex-direction: column;
    font-weight: light;
    font-size: var(--text-size);
}

.summary-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
    border-radius: 1rem;
    margin: 0.6rem;
}

.summary-line:hover {
    background-color: var(--body-bg);
    cursor: pointer;
}

#new-conversation {
    justify-content: flex-start;
    border-radius: 1rem;
    height: 3.4rem;
    width: 100%;
    display: flex;
    padding: 1.2rem;
    border-radius: 1rem;
    margin: 0.6rem;
}

#new-conversation .value {
    min-width: fit-content;
    max-width: fit-content;
}

#new-conversation .value:hover {
    cursor: pointer;
}

.date, .value {
    text-align: left;
}

