
<div class="header-container">
    <header class="header">
        <div class="nav">
            <ul>
                <li class="icon"><img src="icons/team.svg" (click)=(showSummaries())></li>
            </ul>
        </div>
        <nav class="nav">
            <ul>
                <li class="icon"><img src="icons/profile.svg" (click)=(showProfile())></li>
            </ul>
        </nav>
    </header>
</div>
<app-body [summariesActive]="summariesActive" [profileActive]="profileActive"></app-body>
